.box{
    height: 80px;
    width: 80px;
    background-color: green;
    position: relative;
    animation-name: move;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

body{
    background-color: #222;
}

/* @keyframes move{
    from{
        left: 0;
    }
    to{
        left: 400px;
        border-radius: 50%;
        background-color: red;
    }
} */

@keyframes move{
    0%,100%{
       left: 0;
       top: 0; 
    }
    25%{
        left: 500px;
        top: 0;
        background-color: yellow;
    }
    50%{
        left: 500px;
        top: 500px;
        background-color: red;
    }
    75%{
        left: 0;
        top: 500px;
        background-color: blue;
    }
    /* 100% {
        left: 0;
        top: 0;
    } */
}

/* start -> right -> bottom -> left -> start */
/* 0% -> 25% -> 50% -> 75% -> 100% */

.loading{
    width: 50px;
    height: 50px;
    border: 4px solid gray;
    animation: loader 600ms linear infinite;
    border-radius: 50%;
    border-top-color: transparent;
}

@keyframes loader{
    from{
        /* transform: rotate(0deg); */
        rotate: 0deg;
    }
    to{
        /* transform: rotate(360deg); */
        rotate: 360deg;
    }
}

/* Media Query */

/* Responsive design - layout */

/* watch, mobiles, tab, lap, tv */

/* xs -> < 576px, sm > 576px, md > 768px, lg > 992px, xl > 1200px, xxl > 1400px */

@media screen and (min-width: 576px){
    .loading{
        border: 4px solid red;
        border-top-color: transparent;
    }
    body{
        background-color: #999;
    }
}

@media screen and (min-width: 768px){
    .loading {
        border: 4px solid rgb(54, 234, 9);
        border-top-color: transparent;
    }
    body{
        background-color: #000fff;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-color: #08b3d5;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: #18d98f;
    }
}

@media screen and (min-width: 1400px) {
    body {
        background-color: #d20f7a;
    }
}